body {
    border-radius: 50cm;
    background-color: chartreuse;
    text-align: center;
}

input {
    border-radius: 50px;
}

#submit_button {
    border-radius: 50px;
    background-color: black;
    color: white;
}

.chat_messages_div {

    color: chartreuse;

    border-radius: 50px;

    background-color: black;

    width: 500px;

    margin: auto;

}